<launch>
  <!-- 第一个机器人参数定义 -->
  <arg name="bot_0_name" default="robot_0"/>  
  <arg name="bot_0_x_pos" default="-0.75"/>
  <arg name="bot_0_y_pos" default="0.45"/>
  <arg name="bot_0_z_pos" default="0.188"/>
  <arg name="bot_0_yaw" default="1.57"/> 

  <!-- slam 参数 -->
  <arg name="slam_methods" default="hector" doc="slam type [gmapping, hector, karto, cartographer]"/>
  <arg name="open_rviz" default="false"/>
  <arg name="simulation" default= "false"/> 
  <arg name="planner"  default="" doc="opt: dwa, teb"/> 

  <param name="/use_sim_time" value="true" />  
  
  <!-- 世界加载 -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find map_three_gazebo)/world/map_w.world"/>
    <!-- <arg name="world_name" value="$(find nanorobot_description)/worlds/room.world"/> -->
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- 创建机器人  -->
  <group ns="$(arg bot_0_name)"> <!-- spawn first robot  -->
    <!--加载机器人模型-->
    <param name="robot_description" command="$(find xacro)/xacro --inorder 
    $(find nanorobot_description)/urdf/robot_description.urdf.xacro robot_name:=/$(arg bot_0_name)" />
    <!--机器人位置发布节点-->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
      <param name="publish_frequency" type="double" value="50.0" />
      <param name="tf_prefix" value="$(arg bot_0_name)" />
    </node>
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg bot_0_name) 
    -x $(arg bot_0_x_pos) -y $(arg bot_0_y_pos) -z $(arg bot_0_z_pos) -Y $(arg bot_0_yaw) -param robot_description" />
    
    <include file="$(find multi_robot_exp)/launch/lidar.launch">
      <arg name="ns"                    value="$(arg bot_0_name)"/>
    </include>
  </group>

    <!-- 设置地图的配置文件 -->
    <arg name="map" default="my_map.yaml" />
    <!-- 运行地图服务器，并且加载设置的地图-->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find multi_robot_exp)/map/$(arg map)"/>
    <!-- 启动AMCL节点 -->
    <include file="$(find multi_robot_exp)/launch/my_amcl_diff.launch">

    </include>
    <!-- 运行rviz -->
    <node pkg="rviz" type="rviz" name="rviz"/>

</launch>

